body{
    background-color: rgb(232, 228, 228);
}
#pong{
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
}






/* button.selected {
   font-weight: bold;
} */

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: #f0f0f0;
    color: rgb(23, 22, 22);
}

#gameMode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

#gameMode button {
    display: block; 
    width: 200px;
    margin: 10px auto; 
    padding: 20px;
    font-size: 20px; 
    background-color: black;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    border-color: #ffffff;
    color : white;
}
